.stripes1{
    height:5pt;
    width:100%;

    background: repeating-linear-gradient(
        to right,
        $accent-1,
        $accent-1 33.33333%,
        $dark-color 33.33333%,
        $dark-color 66.66666%,
        $accent-2 66.66666%,
        $accent-2 99.99999%    
    );
}

.stripes2{
    height:5pt;
    width:100%;

    background: repeating-linear-gradient(
        to right,
        $accent-2,
        $accent-2 33.33333%,
        $dark-color 33.33333%,
        $dark-color 66.66666%,
        $accent-1 66.66666%,
        $accent-1 99.99999%    
    );
}