form{
	padding: $extra-large 22%;
	margin:0 auto;
	position:relative;
}

.input_wrapper{
	background:$white;
	margin-top:$extra-small;
	margin-bottom:$small;
	display:block;
	@include radius(3px);

	input[type=text], textarea{
		font-size:$small;
		width:100%;
		background:transparent;
		padding:$extra-small;
		@include radius(3px);
		border:1px solid $subtle-2;
		@include transition_mixin(box-shadow 300ms);
		@include shadow( inset 0px 0px 7px 5px rgba(50, 50, 50, 0.1) );

		&.error{
			@include shadow( inset 0px 0px 3px 1px $error );				
		}

		&:focus{
			@include shadow( inset 0px 0px 7px 5px rgba(50, 50, 50, 0.02) );
		}			
	}
}

#error_text{
	@extend .input_wrapper;
	padding:$extra-small;
	@include radius(3px);	
	color:$error;
	display:none;
}

#success{
	display:none;
	position:absolute;
	top:$extra-large;
}

.button{
    font-size:$medium;
    background:$dark-color;
    color:$subtle;
    padding:5px;
    @include radius(5px);
    padding:$medium $large;
    margin-top:$medium;
    margin-right:$small;
    border:0px;
    cursor:pointer;
    display:inline-block;

    @include transition_mixin(background $base-duration $base-easing);
}

.button:hover{
    background:$hovered;
}