/*/////////////////////////////////////////////////////////////////////////////
    Small computer screens
//////////////////////////////////////////////////////////////////////////////*/

@media (min-width : 801px){
    .mobile{
        display:none;
    } 


    nav{
        position:absolute;
        top:$large;
        right:$large;
    }

    header h1{
        max-width:66%;
    }

    #thumbnails{

    .thumbnail{
        box-sizing:border-box;
        width:32.7%;
        display:inline-block;
        padding:5px;
        position:relative;

        img{
            width:100%;
            @include shadow(  0px 0px 3px 2px rgba(50, 50, 50, 0.2) );
            @include transition_mixin(opacity $base-duration $base-easing);
        }

        .details{
            position:absolute;
            top:40%;
            left:0px;
            right:0px;
            text-align:center;
            opacity:0;
            @include transition_mixin(opacity $base-duration $base-easing);
            width:85%;
            margin:0 auto;
        }

        &:hover{
            img{
                opacity:.2;
            }

            .details{
                opacity:1;
            }
        }
    }
}
}


/*/////////////////////////////////////////////////////////////////////////////
    Phones
//////////////////////////////////////////////////////////////////////////////*/

@media (max-width : 800px){
    #menu-toggle{
        position:absolute;
        top:$medium;
        right:$medium;
        color:$white;
        cursor:pointer;

        svg{
            width:30px;
            fill:none;
            stroke:$white;
            stroke-width:5;
            stroke-linecap:round;
            stroke-miterlimit:10;

            &:hover{
                stroke:$white;
            }

            .middle-line{
                @include transition_mixin(all 300ms);
            }

            &.open{
                .middle-line{
                    opacity:0;
                }
            }
        }
    }

    #work .row .workExampleWrapper .workExample{
        bottom:-3px !important; 
    }

    header{
        padding:$medium;
        background:$dark-color;
        
        h1{
            color:$white;
            margin-bottom:0px;
        }

        nav{
            background:$dark-color;
            width:100%;
            float:none;
            max-height:0px;
            overflow:hidden;
            padding:0px;
            @include transition_mixin(all 600ms);
            z-index:10;

            a{
                display:block;
                width:100%;
                color:$white;
                padding-left:0px;
                padding-top:$extra-small;
                margin-top:$extra-small;
                border-top:1px solid $subtle-2;
            }           
        }
    }

    .visible-y{
        max-height:300px;
    }

    .desktop{
        display:none;
    }

    .mobile{
        display:block;
    }

    form, #main, #work .row{
        padding:$small;

        .workExampleWrapper:before{
            @include shadow(none);
        }
    }

    .ham{
        @include transition_mixin(fill $base-duration $base-easing);
        fill:$dark-color;
    }

    .svg_holder{
        position:absolute;
        top:25px;
        right:25px;
    }

    h1{
        font-size:$large;
        margin-bottom:$large;   
    }

    h2{
        font-size:$medium;
        margin-bottom:$extra-small;
    }

    .button{
        display:block;
        text-align:center;
        margin-right:0px;
        width:100%;
    }

    .controls{
        display:none;
    }

    #work #thumbnails .thumbnail{
        width:80%;
        margin:0 auto;
        display:block;
        max-width:300px;

        img{
            width:100%;
        }
    }

    .details{
        margin-bottom:$extra-large;
        margin-top:$extra-small;
        display:block;
    }
}

