/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*/////////////////////////////////////////////////////////////////////////////
    Colors
//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
    Animation
//////////////////////////////////////////////////////////////////////////////*/
.row {
  clear: both;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
  padding-right: 1%;
  padding-left: 1%; }

[class^="col-"] {
  float: left;
  margin: 0 3.84615384615% 0 0;
  list-style: none;
  position: relative; }

[class^="col-"]:last-of-type {
  margin: 0 0; }

.col-1 {
  width: 4.80769%; }

.col-2 {
  width: 13.46154%; }

.col-3 {
  width: 22.11538%; }

.col-4 {
  width: 30.76923%; }

.col-5 {
  width: 39.42308%; }

.col-6 {
  width: 48.07692%; }

.col-7 {
  width: 56.73077%; }

.col-8 {
  width: 65.38462%; }

.col-9 {
  width: 74.03846%; }

.col-10 {
  width: 82.69231%; }

.col-11 {
  width: 91.34615%; }

.col-12 {
  width: 100%;
  margin: 0; }

.center {
  clear: both;
  margin: 0 auto !important;
  float: none;
  text-align: center; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #0C3D56; }

h1 {
  font-weight: 800;
  font-size: 34pt;
  margin-bottom: 21pt; }

h2 {
  font-weight: 400;
  font-size: 21pt;
  margin-bottom: 10pt; }

p {
  line-height: 150%;
  padding-bottom: 20px;
  font-family: Open Sans;
  font-size: 13pt; }

form {
  width: 66%;
  padding: 34pt 5%;
  margin: 0 auto; }
  form input[type=text], form textarea {
    width: 100%;
    margin-top: 10pt;
    margin-bottom: 13pt; }

/*/////////////////////////////////////////////////////////////////////////////
    Work
//////////////////////////////////////////////////////////////////////////////*/
#work {
  padding-top: 90px; }

#work h1 {
  text-align: center;
  width: 100%; }

#work .row {
  background: #F0F0F0;
  padding: 34pt 17%;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
  position: relative; }
  #work .row .details {
    background: #F0F0F0;
    width: 85%;
    margin: 0 auto; }
  #work .row .workExampleWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 34pt; }
    #work .row .workExampleWrapper:before {
      content: '';
      -webkit-box-shadow: 0px 15px 35px 17px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 0px 15px 35px 17px rgba(50, 50, 50, 0.5);
      box-shadow: 0px 15px 35px 17px rgba(50, 50, 50, 0.5);
      position: absolute;
      bottom: -50px;
      height: 50px;
      left: 7%;
      right: 7%; }
    #work .row .workExampleWrapper:after {
      content: '';
      -webkit-box-shadow: 0px 0px 7px 5px rgba(50, 50, 50, 0.2);
      -moz-box-shadow: 0px 0px 7px 5px rgba(50, 50, 50, 0.2);
      box-shadow: 0px 0px 7px 5px rgba(50, 50, 50, 0.2);
      position: absolute;
      bottom: 0px;
      width: 86%;
      left: 7%; }
    #work .row .workExampleWrapper .workExample {
      -o-border-radius: 10px 10px 0px 0px;
      -ms-border-radius: 10px 10px 0px 0px;
      -webkit-border-radius: 10px 10px 0px 0px;
      border-radius: 10px 10px 0px 0px;
      -webkit-box-shadow: 0px 2px 1px 1px rgba(50, 50, 50, 0.05);
      -moz-box-shadow: 0px 2px 1px 1px rgba(50, 50, 50, 0.05);
      box-shadow: 0px 2px 1px 1px rgba(50, 50, 50, 0.05);
      display: block;
      width: 86%;
      margin: 0px auto;
      position: relative;
      bottom: -15px;
      -o-transition: bottom 250ms ease-in-out;
      -ms-transition: bottom 250ms ease-in-out;
      -webkit-transition: bottom 250ms ease-in-out;
      transition: bottom 250ms ease-in-out; }
      #work .row .workExampleWrapper .workExample:hover {
        bottom: -5px; }
      #work .row .workExampleWrapper .workExample img {
        width: 100%; }
      #work .row .workExampleWrapper .workExample .controls {
        text-align: left;
        width: 100%;
        background: #ccc;
        height: 20px;
        padding-left: 5px;
        -o-border-radius: 10px 10px 0px 0px;
        -ms-border-radius: 10px 10px 0px 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        border-radius: 10px 10px 0px 0px; }
        #work .row .workExampleWrapper .workExample .controls span {
          background: #F0F0F0;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          display: inline-block; }

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    General
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/
* {
  font-family: Open Sans, sans-serif;
  box-sizing: border-box; }

body {
  font-family: Open Sans, sans-serif;
  background: #F0F0F0; }

.button {
  font-size: 16pt;
  background: #0C3D56;
  color: #F0F0F0;
  padding: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 30px;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  -o-transition: background 250ms ease-in-out;
  -ms-transition: background 250ms ease-in-out;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out; }

.button:hover {
  background: #166993; }

/*/////////////////////////////////////////////////////////////////////////////
    header
//////////////////////////////////////////////////////////////////////////////*/
header {
  padding: 16pt;
  width: 100%; }
  header nav {
    float: right;
    padding-top: 14px; }
    header nav a {
      color: #0C3D56;
      font-size: 13pt;
      padding-left: 34pt;
      -o-transition: color 250ms ease-in-out;
      -ms-transition: color 250ms ease-in-out;
      -webkit-transition: color 250ms ease-in-out;
      transition: color 250ms ease-in-out; }
      header nav a:hover {
        color: #166993; }

/*/////////////////////////////////////////////////////////////////////////////
    Main
//////////////////////////////////////////////////////////////////////////////*/
#main {
  border-bottom: 2px solid #0C3D56;
  padding-top: 0px;
  padding-bottom: 30px; }
  #main * {
    position: relative; }
  #main p {
    font-size: 16pt;
    padding-bottom: 0px;
    padding-top: 45%; }
  #main #main_changer {
    font-size: 34pt;
    font-style: italic; }
  #main svg, #main img {
    width: 100%; }
    #main svg .filled, #main img .filled {
      fill: #F0F0F0; }
    #main svg path, #main img path {
      stroke: #F5885F;
      opacity: 0; }

/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Responsive
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
    Small computer screens
//////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 701px) {
  .mobile {
    display: none; }

  #header {
    padding: 34pt; } }
/*/////////////////////////////////////////////////////////////////////////////
    Phones
//////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 700px) {
  .stretch-12 {
    width: 95%;
    margin: 0 auto; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .ham {
    -o-transition: fill 250ms ease-in-out;
    -ms-transition: fill 250ms ease-in-out;
    -webkit-transition: fill 250ms ease-in-out;
    transition: fill 250ms ease-in-out;
    fill: #0C3D56; }

  .svg_holder {
    position: absolute;
    top: 25px;
    right: 25px; }

  nav {
    position: absolute;
    -o-transition: max-height 250ms ease-in-out;
    -ms-transition: max-height 250ms ease-in-out;
    -webkit-transition: max-height 250ms ease-in-out;
    transition: max-height 250ms ease-in-out;
    max-height: 0px;
    position: absolute;
    z-index: 2;
    overflow: hidden; }

  h1 {
    font-size: 21pt;
    margin-bottom: 21pt; }

  h2 {
    font-size: 16pt;
    margin-bottom: 10pt; } }

/*# sourceMappingURL=style.css.map */
