@import 'reset';

$background-color:#222;
$dark-color:#0C3D56;
$off-white:#ffffff;
$accent-1:#70BBA8;
$accent-2:#F5885F;


/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    General
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

*{
    font-family: Open Sans, sans-serif;
    box-sizing:border-box;
    position:relative;
    z-index:1;
}

html{
    background:$dark-color;
}

body{
    background:$off-white;
    font-family: Open Sans, sans-serif;
    margin:0 auto;
}

.dark{
    background:$dark-color;
}

.dark{
    color:$off-white;
}

a{
    text-decoration:none;
}

form, #services, #testimonials{
    padding-bottom:20px;
}

h2{
    font-weight:600;
    font-size:24pt;
    margin-bottom:15px;
}

p{
    line-height: 150%;
    padding-bottom:20px;
    font-family:Open Sans;
    font-size:13pt;
}

/*/////////////////////////////////////////////////////////////////////////////
    Nav
//////////////////////////////////////////////////////////////////////////////*/

nav{
    position:relative;
    border-bottom: 5px $accent-1 solid;
}

nav *{
    position:relative;
}

nav img{
    top:-14px;
}

nav h1{
    font-size:24pt;
    padding-left:10px;
    top:-12px;
}

nav a{
    font-size:14pt;
    top:-3px;
}

nav.dark a{
    color:#ddd;
}

nav.dark a h1{
    color:$off-white;
    font-weight:900;
}

nav.dark a:hover{
    color:$off-white;
}

/*/////////////////////////////////////////////////////////////////////////////
    Footer
//////////////////////////////////////////////////////////////////////////////*/

footer{
    background:$accent-1;
    padding:15px;
    position:relative;
}

footer a{
    color:#000;
    font-weight:600;
    font-size:21px;
}

#arrow{
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    right:15px;
    cursor:pointer;
}

#github{
    position:absolute;
    right:90px;
    top:10px;
}

#github img{
    height:32px;
    width: auto;
}

/*/////////////////////////////////////////////////////////////////////////////
    Main
//////////////////////////////////////////////////////////////////////////////*/

#main *{
    position:relative;
}

#main [class^="col-"]{
    float:right;
}

#main p{
    font-size:18pt;
    padding-bottom:0px;
}

#main_changer{
    font-size:48pt;
    font-weight:900;
    font-style:italic;
}

#main a, #send{
    font-size:18pt;
    background:$dark-color;
    color:$off-white;
    padding:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    top:30px;
    padding:20px 30px;
    display:inline-block;
    border:0px;


    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#main a:hover, #send:hover{
    background:$accent-2;
}

#main svg, #main img{
    transform:scale(.45);
    -webkit-transform:scale(.45);
    -ms-transform:scale(.45);

    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
}

path{
    stroke:$accent-2;
    opacity:0;
}

/*/////////////////////////////////////////////////////////////////////////////
    Services
//////////////////////////////////////////////////////////////////////////////*/

#services{
    padding-bottom:50px;
}

#services h3{
    font-size:24pt;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid $accent-1;

    width: 150%;
    position: relative;
    left: -25%;
}

#services .col-2 *{
    text-align: center;
}

#services .col-2{
    margin-right:12.5%;
}


/*/////////////////////////////////////////////////////////////////////////////
    Testimonials
//////////////////////////////////////////////////////////////////////////////*/

#testimonials{
    height:auto;
    min-height:280px;
    padding-top:60px;
}

#testimonials div{
    font-size:14pt;
    font-style:italic;
}

#testimonials div:first-of-type{
    font-size:18pt;
    padding-bottom:30px;
    line-height:140%;
}

#testimonials div:nth-of-type(2){
    font-style:normal;
    padding-bottom:4px;
}

/*/////////////////////////////////////////////////////////////////////////////
    Contact
//////////////////////////////////////////////////////////////////////////////*/

form{
    padding-bottom: 90px;
}

form div{
    position:relative;
    padding-bottom:20px;
}

.contact h3{
    font-size:36pt;
    padding-bottom:20px;
}

form .row{
    padding-top:15px;
}

label{
    padding-bottom:5px;
}

#send{
    width:95%;
    font-style:italic;
    border-bottom:0px;
    cursor:pointer;
    line-height: inherit;
    background: $accent-1;
}

label, input, textarea{
    font-size:20px;
    padding:3px;
}

input, textarea{
    font-family: Open Sans;
}

/*/////////////////////////////////////////////////////////////////////////////
    Work
//////////////////////////////////////////////////////////////////////////////*/

#work .row{
    padding:90px;
    padding-left:4.8076923077%;
    padding-right:4.8076923077%;
}

#work .row:nth-of-type(even){
    background:$dark-color;
    color:$off-white;
}

.workExample{
    transition:opacity 300ms ease-in-out;
}

.workExample:hover{
    opacity:1;
}

.disclaimer{
    width:66%;
    margin:0 auto;
    top:40%;
    text-align:center;
    font-size:16pt;
}

#work .row h2{
    font-size:21pt;
    text-transform:uppercase;
    letter-spacing: 3px;
    color:$accent-1;
}

#work .row:nth-of-type(odd) h2{
    color:$accent-2;
}

/*/////////////////////////////////////////////////////////////////////////////
    Columns 
//////////////////////////////////////////////////////////////////////////////*/

.row{
    clear: both;
    margin: 0 auto;
    padding-top:30px;
    overflow:hidden;
    width:100%;
    padding-right: 1%;
    padding-left: 1%;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-of-type{
    margin: 0 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

.center{
    clear:both;
    margin:0 auto !important;
    float:none;
    text-align:center;
}


/*/////////////////////////////////////////////////////////////////////////////
    Internet explorer 
//////////////////////////////////////////////////////////////////////////////*/

#main img{
    display:none;
}

#main img#websites{
    position:relative;
    display:block;
}


/*/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
    Responsive
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////
    Large screens
//////////////////////////////////////////////////////////////////////////////*/

@media (min-width : 1230px){
    #main svg, #main img{
        transform:scale(.55);
        -webkit-transform:scale(.55);
        -ms-transform:scale(.55);
        top:-50px;
    }

    nav a{
        font-size:16pt;
    }

    nav h1{
        font-size:30pt;
    }
}


@media (max-width : 1000px){
    #main svg, #main img{
        transform:scale(.4);
        -webkit-transform:scale(.4);
        -ms-transform:scale(.4);
    }

    nav a{
        font-size:12pt;
    }
}

/*/////////////////////////////////////////////////////////////////////////////
    Small computer screens
//////////////////////////////////////////////////////////////////////////////*/

@media (min-width : 701px){
    #main{
        padding-bottom:50px;
        height:440px;
    }

    #main .col-7{
        padding-top:120px;
    }

    #services .col-2:first-of-type{
        margin-left: 17.30769230765%;
    }  

    #services p{
        position:relative;
        width:140%;
        left:-20%;
    } 

    #work .row:nth-of-type(even) [class^="col-"]{
        float:right;
    }

    .mobile{
        display:none;
    } 

    .contactHolder {
        width: 800px;
        margin: 0px auto;
        position: relative;
    }

    .contact{
        width:100%;
        height:700px;
        position:relative;
        color:$off-white;
        font-size:20px;
        padding-top:20px;
    }

    .contact img, .contact .col-4{
        padding-top:20px;
    }

    .contact img{
        width:100%;
    }

    .contactForm{
        position:absolute;
        left:70px;
        top:80px;
        width:70%;
    }

    input, textarea{
        border:none;
        border-bottom:2px dashed $accent-1;
        color:#564F4D;
        font-size:20px;
        padding-top:5px;
        z-index:1;
    }

    input{
        padding-bottom: 0px;
    }

    input:focus, textarea:focus{
        color:#343434;
    }

    label{
        font-size:20px;
        position:relative;
        z-index:1;
        background:$off-white;
        color:#343434;
        width: 22.1153846154%; 
        z-index:2;
    }

    textarea{
        height:105px;
        background:url('../imgs/dash.png');
        line-height:125%;
        border:none;
    }

    #send{
        width:80%;
        left:19%;
        position:relative;
        top:0px;
    }

    .sectionLabel{
        position:relative;
        width:60%;
        left:20%;
        top:-30px;
    }

    .workExample{
        opacity:.8;
    }

    .testimonial_arrow{
        font-size:60pt;
        color:#ccc;
        font-weight:800;
        position:absolute;
        top:80px;
        cursor:pointer;
    }

    .left{
        left:15%;
    }

    .right{
        right:15%;
    }
}

/*/////////////////////////////////////////////////////////////////////////////
    Medium screens
//////////////////////////////////////////////////////////////////////////////*/

@media (max-width : 950px){
    #main svg, #main img{
        transform:scale(.3);
        -webkit-transform:scale(.3);
        -ms-transform:scale(.3);
    }

    #main{
        padding-bottom:50px;
        height:340px;
    }

    #main .col-7{
        padding-top:60px;
    }

    #main_changer{
        font-size:36pt;
    }

    .testimonial_arrow{
        display:none;
    }

    #services h3{
        border-bottom:0px;
    }
}

/*/////////////////////////////////////////////////////////////////////////////
    Phones
//////////////////////////////////////////////////////////////////////////////*/

@media (max-width : 700px){
    .stretch-12{
        width:95%;
        margin: 0 auto;
    }

    .desktop{
        display:none;
    }

    .ham{
        transition: fill 500ms ease-in-out;
        fill:$off-white;
    }

    .svg_holder{
        position:absolute;
        top:-11px;
        right:25px;
    }

    nav{
        transition:max-height 500ms ease-in-out;
        max-height:62px;
        position:absolute;
        z-index:2;
    }

    nav h1{
        font-size:16pt;
    }

    nav .stretch-12{
        font-size:14pt;
        text-align:center;
        padding-top:8px;
        margin-top:12px;
        border-top:1px #ccc solid;
        padding-bottom:8px;
        width:100%;
    }

    nav .stretch-12:last-of-type{
        margin-top:12px;
        padding-bottom:20px;
    }

    #services .stretch-12 img{
        width:50%;
        margin-left:25%;
    }

    #main{
        height:300px;
    }

    #main .col-7{
        padding-top:60px;
    }

    #main_changer{
        font-size:30pt;
    }

    #main svg, #main img{
        transform:scale(.25);
        -webkit-transform:scale(.25);
        -ms-transform:scale(.25);


        top:25px;
        height:100px;
        overflow:visible;
    }

    .contact .row{
        padding-top:5px;
        padding-bottom:10px;
    }   

    .contact{
        padding-top:90px;
    }

    footer a{
        font-size:12pt;
    }
}

